// colors
$accent: #0880AE;
$accent2: #F26532;
$dark: #252525;
$body-text: #434343;
$small-secondary-text: #727272;
$main-bg: #FFFFFF;
$secondary-bg: #F5F5F5;


// media queries
$desktop-lg: 'only screen and (max-width: 1440px)';
$desktop-l: 'only screen and (max-width: 1250px)';
$desktop: 'only screen and (max-width: 1200px)';
$desktop-s: 'only screen and (max-width: 1050px)';
$tablet-lg: 'only screen and (max-width: 992px)';
$tablet-md: 'only screen and (max-width: 810px)';
$tablet: 'only screen and (max-width: 768px)';
$tablet-ss: 'only screen and (max-width: 700px)';
$tablet-s: 'only screen and (max-width: 634px)';
