<div class="container">
  <div class="btn-block">
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

    <button mat-raised-button color="accent" (click)="removeRecord()">Delete</button>

    <button mat-raised-button color="warn" (click)="logOut()">Log Out</button>
  </div>

  <div class="center">
    <h3>{{message}}</h3>
  </div>
  <table>
    <tr *ngFor="let item of dataSource">
      <th>{{item.id}}</th>
      <th>{{item.reviewer}}</th>
      <th>{{item.email}}</th>
      <th>{{item.review}}</th>
      <th>{{item.rating}}</th>
      <th>{{item.employee}}</th>
      <th>{{item.employees_position}}</th>
      <th>{{item.company}}</th>
      <th>{{item.company_description}}</th>
    </tr>
  </table>

</div>
